body {
  background-color: #F7F8F8;
}


.tabs {
  border: none;
}

.tabs .nav-tabs .nav-link.active {
  font-size: 16px;
  color: #004FB4;
  opacity: 0.5;
  cursor: pointer;
  background-color: inherit;
  border: none;
}

.tab {
  font-size: 20px;
  color: #004FB4;
  opacity: 0.5;
  cursor: pointer;
  background-color: inherit;
  border: none;
}

.tab:hover {
  border: none;
}

.tabs .tab.active {
  opacity: 1;
  border: none;
  color: #004FB4;
  background-color: inherit !important;
}

.card {
  border-radius: 5px;
  background-color: #fff;
}

.nav-tabs .nav-link {
  margin-bottom: unset;
  border: unset;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover {
  border: none;
  color: #004fb4;
}

.bg-bluish-gray {
  background-color: #f1f4f8;
}

.text-bold {
  font-weight: bold;
}

.f-blue {
  color: #4f6c92;
}

.f-red {
  color: #e2006a;
}

.border-bottom {
  border-bottom: 1px solid;
}

.book-btn {
  border-radius: 30px;
  padding: 5px 2rem;
  color: #16a64d;
  border: 1px solid #55cb82;
  font-weight: bold;
  background-color: #fff;
}

.book-btn:disabled {
  opacity: 0.5;
}

.cancel-btn {
  border-radius: 30px;
  padding: 5px 2rem;
  color: #e2006a;
  border: 1px solid #fe93b3;
  font-weight: bold;
  background-color: #fff;
}

.cancel-btn:disabled {
  opacity: 0.5;
}



