@font-face {
  font-family: "SF UI Text Regular";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Regular"),
    url("./assets/font/SFUIText-Regular.woff") format("woff");
}

@font-face {
  font-family: "SF UI Text Light";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Light"),
    url("./assets/font/SFUIText-Light.woff") format("woff");
}

@font-face {
  font-family: "SF UI Text Medium";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Medium"),
    url("./assets/font/SFUIText-Medium.woff") format("woff");
}

@font-face {
  font-family: "SF UI Text Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Semibold"),
    url("./assets/font/SFUIText-Semibold.woff") format("woff");
}

@font-face {
  font-family: "SF UI Text Bold";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Bold"),
    url("./assets/font/SFUIText-Bold.woff") format("woff");
}

@font-face {
  font-family: "SF UI Text Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("SF UI Text Heavy"),
    url("./assets/font/SFUIText-Heavy.woff") format("woff");
}

body {
  margin: 0;
  font-family: "SF UI Text Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f7f8fb;
}
